// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	color: #FF059D;
}

a {
	color: #DF1ED5;
}

#map-canvas { 
	height: 500px; 
	width: 700px;
	margin: 0; 
	padding: 0;
}
